.wrapper {
  padding: var(--padding-x) 0;
  width: 100%;
  padding-bottom: var(--player-height-m);

  & > header {
    padding: 0 var(--padding-l) 10px;

    & h2 {
      color: var(--color-secondary);
    }
  }
}
