.component.createCollection {
  background-color: var(--color-primary-light);
  padding: var(--padding-s) var(--padding-s) 0;
  border-radius: var(--border-radius-m);

  & fieldset {
    padding-bottom: var(--padding-m);

    & section {
      margin-bottom: var(--padding-s);
    }
  }
}
