.component {
  &.text {
    font-size: var(--size-span);

    & .dark {
      color: var(--color-secondary);
    }
  }

  &.icon {
    position: initial;
  }

  &.compound {
    position: initial;
  }
}
