.component.link {
  font-size: var(--size-span);
  -webkit-tap-highlight-color: transparent;
  outline: none;

  a:focus,a:visited,a:active{
    outline: none;
  }

  & .dark {
    color: var(--color-secondary);
  }

  & .light {
    color: var(--color-primary);
  }
}
