# Editor
.vscode
.cache

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
public/build/
/build
/dist
app/css/
styles/index.css

# mocks
src/assets/images/mocks
/mock


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
