.wrapper {
  display: block;
  width: 100%;
  padding: 35px 32px;
  box-sizing: border-box;

  & a {
    display: block;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
    width: var(--box-size-xl);
    height: var(--box-size-xl);
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

