.component.activeSubscription {
   position: relative;
   width: 100%;

   & .listContainer {
      max-width: 600px;
      box-sizing: border-box;
      color: var(--color-secondary);
      width: 100%;
      padding: 0 var(--padding-m);

      & h3 {
         margin: 0;
         color: var(--color-secondary);
         display: inline-block;
         font-size: var(--size-h3);
         font-weight: 700;
         padding-bottom: var(--padding-s);
      }
   }

   & .listItem {
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      justify-content: space-between;
      padding: 14px 0;
   }

   & .itemOne {
      opacity: 70%;
      font-size: var(--size-small);
   }

   & .itemTwo {
      font-size: var(--span-small);
      & span {
         line-height: 21px;
         font-weight: 500;
         align: right;
      }
   }
}

.component.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: auto;
   background: var(--color-secondary);
   border-radius: 45px;
   box-shadow: 0 -10px 18px 0px var(--color-primary-shadow);
   transition: all ease 200ms;
}

.wrapper {
   height: 24vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   & figure {
      & .svg {
         height: 34px;
      }
   }
}

.spread {
   margin: 18px 2rem;
   color: white;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   display: inline;
   text-align: center;

   & span {
      font-weight: 400;
   }
}

.shareLink {
   width: 254px;
   height: 39px;

   background: #ffffff;
   border-radius: 12px;

   & span {
      font-weight: 400;
   }
}

.line {
   border-top: 1px solid #e8e0dd;
   margin: 0 auto;
}

.component.partialView .wrapper {
   margin: 0 auto;
}

.screen.consumed {
   position: relative;
   width: 100%;
   padding-top: 0;
   background-image: none;
   display: block;
   & .popup {
      margin: 2rem auto;
   }
}

@media (max-width: 580px) {
   .spread {
      margin: var(--padding-s) -2px;
   }
}

/* @media (min-width: 580px) {
   .component.activeSubscription {
      & .listContainer {
         width: var(--small-viewport);
         margin-inline: auto;

         & h3 {
            margin-top: 1rem;
            margin-bottom: 1rem;
         }
      }
   }
}

@media (min-width 900px) {
   .component.activeSubscription {
      & .listContainer {
         width: var(--small-viewport);
         margin-inline: auto;
      }
   }
} */
