.wrapper {
  --size: 62px;

  display: block;
  width: var(--size);
  height: var(--size);

  & figure {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &.album,
  &.playlist {
    & figure {
      border-radius: var(--border-radius-s);
    }
  }

  &.artist {
    & figure {
      border-radius: var(--border-radius-xs);
    }
  }

}

:global(.circle) {
  &.wrapper {
    & figure {
      width: 59px;
      height: 59px;
      border-radius: var(--border-radius-r);
      border: solid 2px var(--white);
    }
  }
}
