.component.purchase {
  color: var(--color-secondary);
  box-sizing: border-box;
  padding-bottom: calc(2 * var(--padding-l));

  & .intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & p {
      width: 90%;
      max-width: 544px;
      font-size: var(--size-h3);
      text-align: center;
    }
  }

  & .plans {
    & .container {
      padding: var(--padding-l) var(--padding-m);
      text-align: center;
    }

    & .plan-list {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: var(--padding-m);

      & .subscriptionPlan {
        width: 100%;
        text-align: center;
        padding: var(--padding-l) var(--padding-m);
        box-sizing: border-box;
        border-radius: var(--border-radius-s);
        background-color: var(--color-primary-light);

        & > h3,
        & > h4 {
          margin-bottom: var(--padding-m);
        }

        & button {
          font-size: var(--size-h3);
          padding: calc(var(--box-size-xxs) / 2);
          height: calc(2 * var(--box-size-xxs));
          font-weight: var(--font-weight-light);
        }
      }
    }
  }

  & .whyMuzikie {
    & .container {
      padding: var(--padding-l) var(--padding-m);
      text-align: center;
    }

    & .reasons {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;
      gap: var(--padding-m);

      & .reason {
        width: 100%;
        text-align: center;

        & .description {
          font-weight: var(--font-weight-light);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .component.purchase {
    & .plans {
      & .plan-list {
        flex-direction: row;
      }
    }

    & .whyMuzikie {
      & .reasons {
        flex-direction: row;
      }
    }
  }
}
