.component.entity.thumbnail {
  display: block;
  width: var(--thumbnail);
  height: var(--thumbnail);

  & figure {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.playlist {
    & figure {
      border-radius: var(--border-radius-m);
    }
  }

  &.collection {
    padding-bottom: 0;

    & figure {
      border-radius: var(--border-radius-m);
    }
  }

  &.empty,
  &.profile {
    & figure {
      border-radius: var(--border-radius-xs);
    }
  }

  &.audio {
    width: var(--box-size-xxs);
    height: var(--box-size-xxs);

    & figure {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: var(--border-radius-r);
      padding: 0;
    }
  }
} 
