.wrapper {
  --thumbnail-width: 183px;
  --thumbnail-height: 232px;
  --padding: 10px;

  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--padding);

  & a {
    cursor: pointer;
    position: relative;
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
    display: block;
    border-radius: var(--border-radius-l);
    overflow: hidden;
    display: flex;
    flex-direction: revert;
    align-items: flex-end;
  }

  & figure {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;

    & img {
      width: 100%;
    }
  }

  & div {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 20px 20px;

    & h5 {
      color: var(--white);
    }

    & span {
      color: var(--gray);
    }
  }
}
