.component.player {
  z-index: var(--layer-5);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  transform: translateY(100%);

  & .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: var(--padding-xs) var(--padding-m);
  }

  &.visible {
    transform: translateY(0);
  }

  & .primaryInfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &.extraPadded {
      padding-left: var(--padding-s);
    }

    & header {
      &:not(:first-child) {
        padding: 0 var(--padding-m);
      }

      & h5 {
        color: var(--white);
      }

      & span {
        color: var(--gray);
      }
    }
  }

  & .controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & button {
      background: transparent;
      border: 0;
      color: var(--white);
      width: 45px;
      height: 45px;
      border-radius: var(--border-radius-s);
      cursor: pointer;
      font-size: 15px;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }

      & i {
        background: transparent;
      }

      &.rewind,
      &.fastForward {
        display: none;
        width: 30px;
        height: 30px;
        border-radius: var(--border-radius-s);
      }

      &.play {
        background-color: rgba(255, 255, 255, 0.9);

        & i {
          font-size: 18px;
          color: var(--color-secondary);
        }

        &:hover {
          background: rgba(255, 255, 255, 1);
        }
      }
    }

  }

  & .seek {
    display: none;
    flex-flow: row nowrap;
    flex-grow: 1;
    padding: 0 35px 0 10px;
    box-sizing: border-box;
    align-items: center;

    & input {
      flex-grow: 1;
      -moz-appearance: none;
      -webkit-appearance: none;
      -ms-progress-appearance: none;
      appearance: none;
      background: var(--black);
      height: 6px;
      border-radius: 3px;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        background: var(--black);
        cursor: pointer;
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }

    & time {
      width: 20px;
      display: block;
      padding: 0 0 0 20px;
    }
  }

  & .actionButton {
    width: 100px;
  }
}

.component.imagePlaceHolder {
  display: block;
  width: 59px;
  height: 59px;
  border-radius: (--border-radius-r);
}

@media (min-width: 680px) {
  .component.player {
    /* & .controls {
      & button {
        &.rewind,
        &.fastForward {
          display: block;
        }
      }
    } */

    & .seek {
      display: flex;
    }
  }
}
