.artist .description {
  height: 520px;
  display: flex;
  flex-flow: row wrap;
}

.artist .description figure {
  margin: 0;
  max-height: 520px;
  flex: 3 0px;
  overflow: hidden;
}

.artist .description figure img {
  width: 100%;
}

.artist .description article {
  max-height: 520px;
  flex: 2 0px;
  padding-top: 72px;
  box-sizing: border-box;
}

.artist .description article > div {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-left: -25%;
  padding-right: 10%;
}

.artist .description article pre {
  color: gray;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.artist .description article h1 {
  font-size: 2.2em;
  margin: 20px 0;
  text-transform: uppercase;
}

.artist .description article p {
  color: gray;
  line-height: 1.24em;
  letter-spacing: 0.5px;
}

.artist footer {
  height: 100px;
  background: gray;
  flex: 1 100%;
}
