@font-face {
  font-family: 'icomoon';
  src:  url('../../../assets/fonts/icons/icomoon.eot?njsrqc');
  src:  url('../../../assets/fonts/icons/icomoon.eot?njsrqc#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/icons/icomoon.ttf?njsrqc') format('truetype'),
    url('../../../assets/fonts/icons/icomoon.woff?njsrqc') format('woff'),
    url('../../../assets/fonts/icons/icomoon.svg?njsrqc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-copy:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-eye-off:before {
  content: "\e91b";
}
.icon-fast-forward:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e91c";
}
.icon-heart:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e91d";
}
.icon-image:before {
  content: "\e91e";
}
.icon-key:before {
  content: "\e91f";
}
.icon-link-diagonal:before {
  content: "\e905";
}
.icon-link-horizontal:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e920";
}
.icon-message:before {
  content: "\e907";
}
.icon-dark:before {
  content: "\e908";
}
.icon-more-horizontal:before {
  content: "\e909";
}
.icon-more-vertical:before {
  content: "\e90a";
}
.icon-music:before {
  content: "\e90b";
}
.icon-pause:before {
  content: "\e90c";
}
.icon-percent:before {
  content: "\e921";
}
.icon-pie-chart:before {
  content: "\e922";
}
.icon-play:before {
  content: "\e90d";
}
.icon-power:before {
  content: "\e923";
}
.icon-repeat:before {
  content: "\e90e";
}
.icon-rewind:before {
  content: "\e90f";
}
.icon-rotate-ccw:before {
  content: "\e910";
}
.icon-rotate-cw:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-settings:before {
  content: "\e913";
}
.icon-share:before {
  content: "\e924";
}
.icon-shuffle:before {
  content: "\e925";
}
.icon-skip-back:before {
  content: "\e914";
}
.icon-skip-forward:before {
  content: "\e915";
}
.icon-sun:before {
  content: "\e916";
}
.icon-trash:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e926";
}
.icon-volume:before {
  content: "\e918";
}
.icon-cross:before {
  content: "\e919";
}
