.wrapper {
  height: var(--menu-button);
  height: var(--menu-button);
  position: absolute;
  top: 50px;
  right: var(--padding-m);
  box-sizing: border-box;
  z-index: 5;

  & .menuButton {
    width: var(--box-size-xs);
    height: var(--box-size-xs);
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
      font-size: 24px;
      color: var(--color-secondary);
    }
  }
}
