.component.playlistSummary {
  --max-album-art-size: 320px;

  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: auto;
  overflow: visible;
  padding: var(--padding-m);
  box-sizing: border-box;
  margin-bottom: var(--padding-m);

  & header {
    width: 100%;
    color: var(--color-secondary);

    & h1 {
      margin-bottom: 3px;
      text-transform: uppercase;
    }

    & h4 {
      color: var(--color-secondary);
    }

    & .artist {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: var(--padding-s);
      cursor: pointer;

      & figure {
        width: 23px;
        height: 23px;
        border-radius: var(--border-radius-r);
        margin-right: 4px;

        & img {
          width: 100%;
        }
      }

      & .releaseDate {
        color: var(--gray)
      }
    }

    & .actionButtons {
      padding: var(--padding-m) 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 95px;
    }
  }

  & .photo {
    width: calc(100vw - calc(2 * var(--padding-m)));
    height: calc(100vw - calc(2 * var(--padding-m)));
    max-height: var(--max-album-art-size);
    border-radius: var(--border-radius-l);
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.25);
    

    & img {
      width: 100%;
    }
  }
}

@media (min-width: 680px) {
  .component.playlistSummary {
    display: flex;
    /* flex-flow: row nowrap; */
    flex-direction: row-reverse;
    & .photo {
      width: var(--max-album-art-size);
      height: var(--max-album-art-size);
      flex-shrink: 0;
    }

    & header {
      padding: var(--padding-m) 0 0 var(--padding-m);
    }
  }
}
