.component.layout {
  width: 100%;
  max-width: var(--app-max-width);
  margin: 0 auto;

  & .main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    z-index: 4;
    position: relative;
  }
}
