.wrapper {
  width: 100%;
  padding: 10px 0 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;

  & figure {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-m);
    overflow: hidden;
    margin: 0 auto 0 0;
    position: relative;

    & > img {
      width: 100%;
    }

    & .playIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(179,189,253,0.5) 0%, rgba(238,180,205,0.5) 50%, rgba(232,135,251,0.5) 100%);
      opacity: 0;
    }
  }

  & .info {
    flex: 4 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 15px;
    height: 34px;

    & .duration,
    & .albumName {
      display: none;
    }

    & .duration,
    & .likes {
      color: var(--gray);
    }

    & .trackName {
      margin: 0;
    }
  }

  &.minimal {
    & .playIcon {
      display: none !important;
    }
    & .info {
      & .duration,
      & .albumName {
        display: none !important;
      }
    }
  }

  &:hover {
    & figure {
      & .playIcon {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 680px) {
  .wrapper {
    &:hover {
      /* background-color: rgba(255, 255, 255, 0.15); */
    }

    & .info {
      flex-flow: row nowrap;
      align-items: center;

      & .trackName {
        flex: auto;
      }

      & .duration,
      & .likes {
        width: 60px;
        text-align: right;
      }

      & .duration {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    & .info {
      & .duration {
        display: flex;
        width: 50px;
        justify-content: flex-end;
      }

      & .trackName {
        flex: 1 0;
      }

      & .albumName {
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        flex: 1 0;
      }

      & .likes {
        width: 50px;
        text-align: right;
      }
    }
  }
}
