.wrapper {
  width: 100%;
  padding: 10px 0 10px;
  border-radius: var(--border-radius-m);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  transition: all ease 100ms;

  & .playIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
    height: 44px;
  }

  & figure {
    width: 44px;
    height: 44px;
    border-radius: var(--border-radius-s);
    overflow: hidden;
    margin: 0 auto 0 0;

    & img {
      width: 100%;
    }
  }

  & .info {
    flex: 4 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-left: 10px;
    height: 34px;

    & .duration,
    & .albumName {
      display: none;
    }

    & .duration,
    & .likes {
      color: var(--gray);
    }

    & .trackName {
      margin: 0;
    }
  }

  &.minimal {
    & .playIcon {
      display: none !important;
    }
    & .info {
      & .duration,
      & .albumName {
        display: none !important;
      }
    }
  }
}

@media (min-width: 680px) {
  .wrapper {
    padding: 10px 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }

    & .info {
      flex-flow: row nowrap;
      align-items: center;

      & .trackName {
        flex: auto;
      }

      & .duration,
      & .likes {
        width: 60px;
        text-align: right;
      }

      & .duration {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    & .info {
      & .duration {
        display: flex;
        width: 50px;
        justify-content: flex-end;
      }

      & .trackName {
        flex: 1 0;
      }

      & .albumName {
        font-weight: 300;
        display: flex;
        justify-content: flex-start;
        flex: 1 0;
      }

      & .likes {
        width: 50px;
        text-align: right;
      }
    }
  }
}
