.component.logo {
  --size-s: 20px;
  --size-m: 30px;
  --size-l: 40px;

  &.small {
    & figure {
      width: var(--size-s);
      height: var(--size-s);
    }
  }

  &.medium {
    & figure {
      width: var(--size-m);
      height: var(--size-m);
    }
  }

  &.large {
    & figure {
      width: var(--size-l);
      height: var(--size-l);
    }
  }

  & figure {
    display: block;

    & img {
      width: 100%;
    }
  }

  &.extended {
    & a {
      height: 45px;
      width: 240px;
      display: flex;
      flex-flow: column wrap;
      align-content: flex-start;
      justify-content: center;
      gap: 1.4rem;
    }

    & figure {
      height: 0px;
      padding: 5px 0px;
      flex-grow: 2;
      flex-shrink: 0;

      & img {
        width: auto;
        height: 100%;
      }
    }

    & h1,
    & sub {
      box-sizing: border-box;
      flex-grow: 0;
      flex-shrink: 1;
      color: var(--color-secondary);
    }

    & h1 {
      font-size: var(--size-h3);
      margin: 0;
      letter-spacing: 0.02em;
      margin: 0;
      height: 70%;
    }

    & sub {
      font-size: var(--size-h5);
      height: 30%;
    }
  }
}

