.component.logo {
  --size-s: 20px;
  --size-m: 30px;
  --size-l: 40px;

  &.small {
    & figure {
      width: var(--size-s);
      height: var(--size-s);
    }
  }

  &.medium {
    & figure {
      width: var(--size-m);
      height: var(--size-m);
    }
  }

  &.large {
    & figure {
      width: var(--size-l);
      height: var(--size-l);
    }
  }

  & figure {
    display: block;

    & img {
      width: 100%;
    }
  }
}
