.wrapper {
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow-y: scroll;

  & .mostPopular {
    padding-top: 80px;
  }

  & .discography {
    width: 100%;
    padding: 20px 20px 0;
    box-sizing: border-box;
  }
}

@media (min-width: 680px) {
  .wrapper {
    & .mostPopular {
      padding-top: 0;
    }
  }
}
