.wrapper {
  position: relative;
  overflow-y: scroll;
  border-top: solid 1px var(--brightOutline);
  padding-top: 15px;

  & li {
    display: block;
    padding: 10px 20px;
    line-height: 20px;

    & a {
      color: var(--gray);
      font-size: 0.8em;
      letter-spacing: 0.5px;
      font-weight: 300;
      display: block;
      width: 100%;

      &:global(.active),
      &:hover {
        color: var(--white);
      }
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    position: relative;
  }
}
