.header {
  height: var(--header);
  height: var(--header);
  position: fixed;
  bottom: calc(var(--player-height-s) + var(--padding-m));
  right: var(--padding-m);
  box-sizing: border-box;
  z-index: 5;

  & .menuButton {
    width: var(--box-size-m);
    height: var(--box-size-m);
    border: solid 1px var(--brightOutline);
    border-radius: var(--border-radius-r);
    background-color: var(--dark);

    & i {
      font-size: 16px;
    }
  }
}

@media (min-width: 680px) {
  .header {
    display: none;
  }
}
