.header {
  width: calc(100% - var(--right-sidebar));
  height: var(--header);
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & .logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 45px 0 25px;

    & img {
      height: 45px;
    }
  }

  & .search {
    margin: 0px 50px;
    position: relative;

    & i {
      position: absolute;
      left: 16px;
      top: 16px;
      transition: all ease 200ms;
      z-index: 1;
    }

    & input {
      border: solid 1px rgb(83, 83, 83);
      background: transparent;
      width: 0px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border-radius: 10px;
      transition: all ease 200ms;
      outline: none;
      position: relative;
      z-index: 2;
      color: var(--white);

      &:hover,
      &:active,
      &:focus,
      &:not(:empty) {
        width: 300px;
        background-color: var(--brightOutline);

        & + i {
          opacity: 0;
        }
      }
    }
  }
}




