.screen.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  box-sizing: border-box;
  position: relative;
  width: 100%;

  & .audioList,
  & .similarArtists,
  & .discography {
    width: 100%;
    padding: 0 var(--padding-m);
    box-sizing: border-box;
  }
}
