.screen.home {
  padding: var(--padding-x) 0;
  width: 100%;
  padding-bottom: var(--player-height-m);

  & > header {
    padding: 0 var(--padding-l) var(--padding-s);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & h2 {
      color: var(--color-secondary);
      padding-left: var(--padding-s);
    }
  }
}
