.screen.login {
  & .wrapper {
    & .loginButton {
      margin-top: 20px;
    }
  }

  & .modal {
    & ul {
      padding: 26px 0;

      & li {
        line-height: 21px;
        font-size: 14px;
        font-weight: 300;
        padding-bottom: 20px;
        display: flex;

        & span {
          display: inline-block;
        }

        & span:first-child {
          padding-right: 20px;
          font-size: 18px;
        }
      }
    }
  }
}
