.screen.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow-y: scroll;
  padding: var(--padding-m);

  & .popularTracks,
  & .discography {
    margin-bottom: var(--padding-m);
  }
}
