.screen.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  padding: var(--padding-m);

  & .popularTracks,
  & .discography {
    margin-bottom: var(--padding-m);
  }
}

@media (min-width: 800px) {
  .screen.profile {
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: stretch;
    justify-content: space-between;

    & .component.profileDetails {
      flex-basis: 58%;
      margin-bottom: 0px;
    }

    & .component.walletDetails {
      flex-basis: 40%;
    }
  }
}


