.actionAndInfo {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  & .warningIcon {
    margin: 0 auto;
    font-size: 48px;
    color: var(--color-error);
  }

  & h2 {
    color: var(--white);
  }

  & h3 {
    color: var(--white);
    margin-bottom: 20px;
  }
}
