.component.secretKey {
  position: relative;
  background: var(--color-primary-light);
  border-radius: 10px;

  & p {
    font-size: 16px;
    padding: 24px;
    margin: 0;
  }

  & .copyButton {
    color: #453248;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
