.wrapper {
  position: fixed;
  z-index: 5;
  background: var(--dark-see-through);
  left: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh - var(--player-height-s));
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  & .input,
  & .results {
    width: 400px;
    max-width: 90%;
  }

  & .input {
    padding: 10vh 0 0 0;
    margin-bottom: 20px;
    position: relative;

    & > i {
      font-size: 20px;
      position: absolute;
      bottom: 17px;
      left: 10px;
    }

    & > input {
      width: 100%;
      height: 50px;
      padding: 0 20px 0 40px;
      background: transparent;
      border-bottom: solid 3px var(--white);
      color: var(--white);
      font-size: 1.2em;
      box-sizing: border-box;
    }
  }

  &.results {
    position: relative;
  }
}
