.wrapper {
  position: relative;
  height: auto;
  overflow: visible;
  padding: var(--padding-m);
  box-sizing: border-box;

  & .albumArt {
    width: calc(100vw - calc(2 * var(--padding-m)));
    height: calc(100vw - calc(2 * var(--padding-m)));
    margin: 0;
    border: solid 1px var(--brightOutline);
    border-radius: 30px; /* fix this */
    background: var(--dark);
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  & article {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;

    & h5 {
      display: none;
      color: var(--gray);
      line-height: 1.6em;
    }

    & footer {
      display: flex;
      align-items: center;
      width: 130px;
      justify-content: space-between;
      align-content: center;
      border-radius: 20px;
      box-shadow: 0 0 0 12px var(--black);
      margin-top: -10px;
      background-color: var(--black);

      & .play {
        border-radius: 50%;

        & i {
          font-size: 30px;
          padding-left: 3px
        }
      }

      & .follow {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        border: solid 1px var(--brightOutline);

        & i {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 680px) {
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 400px;
    overflow: hidden;

    & .albumArt {
      width: 50%;
      height: 100%;
    }

    & article {
      width: 50%;
      flex-flow: row nowrap;
      padding: 0;
      margin-left: -24px;
      position: relative;

      & footer {
        flex-flow: column nowrap;
        margin-top: 0;
        height: 120px;
      }

      & > div {
        padding: 0 0 0 20px;
      }

      & h5 {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    height: 450px;
  }
}

@media (min-width: 1240px) {
  .wrapper {
    height: 470px;

    & .albumArt {
      flex: 3 0px;
    }
  }
}

