.wrapper {
  justify-content: flex-end !important;
  flex-shrink: 2 !important;
  flex-grow: 1 !important;
  max-width: 80px !important;

  &.album {
    & > span {
      flex-grow: 1;
    }

    & .likeButton,
    & .contextMenu {
      opacity: 0;
      width: 30px;
      color: var(--gray);
    }
  }

  &.artist {
    & > span {
      flex-grow: 1;
    }

    & .likeButton,
    & .contextMenu {
      opacity: 0;
      width: 30px;
      color: var(--gray);
    }
  }

  &.playlist {
    & > span {
      flex-grow: 1;
    }

    & .likeButton,
    & .contextMenu {
      opacity: 0;
      width: 30px;
      color: var(--gray);
    }
  }

  &.track {
    & > span {
      flex-grow: 1;
    }

    & .duration,
    & .streamCount {
      color: var(--gray);
      text-align: right;
    }

    & .streamCount {
      display: none;
    }

    & .likeButton,
    & .contextMenu {
      display: none;
      opacity: 0;
      width: 30px;
      color: var(--gray);
    }

    &.minimal {
      max-width: 100px;

      & .streamCount {
        display: none !important;
      }
    }
  }
}

@media (min-width: 680px) {
  .wrapper {
    &.track {
      & .streamCount,
      & .likeButton,
      & .contextMenu {
        display: block;
      }
    }
  }
}
