.wrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  & .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: pointer;
  }

  &.large {
    & .container {
      padding: 10px;
      background-color: #ffffff20;
      border: solid 1px #ffffff40;
      border-radius: var(--border-radius-m);
    }
  }

  & .primaryInfo,
  & footer {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    flex-basis: 50em;
  }

  & .primaryInfo {
    flex-shrink: 1;
    flex-grow: 3;

    & .thumbnail + .text {
      padding-left: var(--padding-s);
    }

    & h4 {
      color: var(--color-secondary);
    }

    & span {
      color: var(--gray);
    }
  }

  &:hover {
    & footer {
      & > span,
      & > button {
        opacity: 1 !important;
      }
    }
  }
}
