.wrapper {
  height: 520px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    display: block;
    z-index: 3;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, var(--black) 100%);
    bottom: 0;
    z-index: 4;
    left: 0;
  }

  & .artistPhoto {
    margin: 0;
    max-height: 520px;
    flex: 4 0px;

    & img {
      width: 100%;
    }
  }

  & article {
    height: 100%;
    flex: 2 0px;
    padding-top: 72px;
    box-sizing: border-box;
    position: relative;
    z-index: 4;
    background: #000;

    & > * {
      margin-left: -25%;
      padding-right: 10%;
    }

    & > div {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      box-sizing: border-box;
    }

    & pre {
      color: var(--gray);
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    & h1 {
      text-transform: uppercase;
    }

    & p {
      color: var(--gray);
      line-height: 1.6em;
      letter-spacing: 0.5px;
      word-spacing: 2px;
    }

    & footer {
      display: flex;
      align-items: center;
      padding: 20px 0 0 0;

      & .follow {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 1240px) {
  .wrapper {
    & .artistPhoto {
      flex: 3 0px;
    }
  }
}
