.wrapper {
  
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  background: #000;

  height: auto;
  overflow: visible;

  &::after {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    display: block;
    z-index: 3;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, var(--black) 100%);
    bottom: 0;
    z-index: 4;
    left: 0;
  }

  & .artistPhoto {
    margin: 0;
    max-height: 520px;
    flex: 4 0px;
    padding: 0 10%;

    & img {
      width: 100%;
    }
  }

  & article {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    transform: translateY(54px);
    padding: 0 20px;

    

    & > div {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      box-sizing: border-box;
    }

    & pre {
      color: var(--gray);
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    & h1 {
      text-transform: uppercase;
    }

    & p {
      display: none;
      color: var(--gray);
      line-height: 1.6em;
      letter-spacing: 0.5px;
      word-spacing: 2px;
    }

    & footer {
      display: flex;
      align-items: center;
      padding: 20px 0 0 0;

      & .follow {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 680px) {
  .wrapper {
    height: 400px;
    overflow: hidden;

    & article {
      flex: 2 0px;
      padding-top: 72px;
      position: relative;

      & > * {
        margin-left: -25%;
        padding-right: 10%;
      }

      & footer {
        & .follow {
          width: 90px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    height: 520px;
    

    & .artistPhoto {
      padding: 0;
    }

    & article {
      & p {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 1240px) {
  .wrapper {
    & .artistPhoto {
      flex: 3 0px;
    }
  }
}

