.component.profileEdit {
  width: 100%;
  box-sizing: border-box;
  padding: var(--padding-l);
  margin-bottom: var(--padding-l);

  & .profileEditBanner, & .profileEditAvatar {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 9;
    border-radius: var(--border-radius-xs);
    margin: 0px;
    padding: 0px;

    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  & .profileEditBanner {
    left: 4rem;
    top: 3.2rem
  }

  & .profileEditAvatar {
    left: 4rem
    top: 7.1rem;
  }

  & fieldset {
    padding-bottom: var(--padding-m);
  }

  & .fileInput {
    margin-bottom: var(--padding-s);
  }

  & .descriptionInput {
    height: var(--right-sidebar);
  }

  & button {
    margin-bottom: var(--padding-s);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--size-h3);
  }

  & .showFee {
    font-size: var(--padding-xs);
    line-height: 14px;
  }
}
