 :root {
  --green: #01b84a;
  --white: #ffffff;
  --black: #000000;
  --body-font: 'Poppins', sans-serif;
  --left-sidebar: 90px;
  --right-sidebar: 210px;
  --header: 70px;
  --album-size: 146px;
  --track-size: 54px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  color: var(--white);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
