@import './variables.css';
@import './typography.css';

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

:global .mainWrapper {
  width: 100%;
  height: 100vh;
}
