@font-face {
  font-family: 'SourceSansPro';
  src: url("./assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf") format(truetype);
  font-weight: 200;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("./assets/fonts/SourceSansPro/SourceSansPro-Light.ttf") format(truetype);
  font-weight: 300;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf") format(truetype);
  font-weight: 500;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url("./assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format(truetype);
  font-weight: 600;
}


body {
  font-family: var(--body-font);
  color: var(--white);
  font-size: 12px;
}

h1 {
  font-size: calc(var(--size-h1) * 0.7);
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-weight: 400;
}

h2 {
  font-size: calc(var(--size-h2) * 0.6);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: 400;
}

h3 {
  font-size: calc(var(--size-h3) * 0.6);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: 400;
}

h4 {
  font-size: calc(var(--size-h4) * 0.6);
  line-height: 1.2em;
  font-weight: 300;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  letter-spacing: 0.5px;
}

h5 {
  font-size: calc(var(--size-h5) * 0.6);
  line-height: 1.2em;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

p,
b,
span {
  font-size: var(--size-span);
  letter-spacing: 0.5px;
}

small {
  font-size: var(--size-small);
}

@media (min-width: 1000px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: var(--size-h1);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: var(--size-h2);
    margin-top: 0.35em;
    margin-bottom: 0.35em;
  }

  h3 {
    font-size: var(--size-h3);
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  h4 {
    font-size: var(--size-h4);
    margin-top: 0.15em;
    margin-bottom: 0.15em;
  }

  h5 {
    font-size: var(--size-h5);
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
}
