 :root {
  /****  Color  ****/
  --green: #01b84a;
  --white: #ffffff;
  --dark: rgb(19, 14, 29);
  --dark-glassy: rgba(19, 14, 29, 0.95);
  --dark-see-through: rgba(19, 14, 29, 0.7);
  --black: #1a1018;
  --gray: rgb(167, 167, 167);
  --brightOutline: rgba(167, 167, 167, 0.12);

  /****  Typography  ****/
  --body-font: 'SourceSansPro', sans-serif;
  --size-h1: 3em;
  --size-h2: 2.4em;
  --size-h3: 1.8em;
  --size-h4: 1.4em;
  --size-h5: 1em;
  --size-span: 0.9em;
  --size-small: 0.7em;

  /****  Sizes  ****/
  --left-sidebar: 140px;
  --right-sidebar: 210px;
  --player-height-s: 70px;
  --player-height-m: 90px;
  --box-size-s: 40px;
  --box-size-m: 54px;
  --box-size-l: 100px;
  --box-size-xl: 146px;
  --padding-s: 5px;
  --padding-m: 20px;
  --padding-l: 30px;
  --header: var(--box-size-m);

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 30px;
  --border-radius-r: 50%;

  /****  Media queries  ****/
  --large-viewport: 1240px;
  --medium-viewport: 1000px;
  --small-viewport: 680px;
  --xSmall-viewport: 320px;
}

:root [data-theme="dark"] {
  
}
