.component {
  &.primaryButton,
  &.secondaryButton,
  &.tertiaryButton,
  &.iconButton {
    color: var(--white);
    cursor: pointer;
  }

  &.primaryButton,
  &.secondaryButton {
    width: 100%;
    height: var(--box-size-s);
    border-radius: var(--border-radius-m);
    transition: all ease 100ms;
    font-size: var(--size-h4);
    letter-spacing: 1px;
    outline: none;
  }

  &.primaryButton {
    background-color: var(--color-secondary);
    color: var(--white);
    box-shadow: 0 -6px 6px 0px var(--color-primary-shadow);
    border: 0;

    &.disabled {
      background-color: var(--color-secondary-disabled);
      box-shadow: none;
    }

    &.white {
      background-color: var(--white);
      color: var(--color-secondary);
      box-shadow: 0 -6px 6px 0px #ffffff21;

      &.disabled {
        box-shadow: none;
        color: var(--color-secondary-disabled);
      }
    }
  }

  &.secondaryButton {
    border: solid 1px var(--gray);
    box-sizing: content-box;
    background-color: transparent;

    &:hover {
      background-color: var(--brightOutline);
    }
  }

  &.tertiaryButton {
    position: relative;
  }

  &.iconButton {
    padding: 0;
    background-color: transparent;
    width: var(--box-size-m);
    height: var(--box-size-m);
    border-radius: var(--border-radius-m);
    border: 0;

    /** Sizes **/
    &.medium {
      width: var(--box-size-s);
      height: var(--box-size-s);

      & i {
        font-size: 24px;
      }
    }

    &.small {
      width: var(--box-size-xxs);
      height: var(--box-size-xxs);
      border-radius: var(--border-radius-s);

      & i {
        font-size: 14px;
      }
    }

    &.primary {
      background-color: var(--color-secondary);

      & i {
        color: var(--white);
      }
    }

    &.white {
      background-color: var(--white);

      & i {
        color: var(--color-primary);
      }
    }

    &.transparent {
      background-color: transparent;

      & i {
        color: var(--color-secondary);
      }
    }

    &.outlined {
      background-color: transparent;
      border: solid 2px var(--gray);

      & i {
        color: var(--gray);
      }
    }
  }
}
