@import 'variables.css';
@import 'typography.css';
@import 'index.css';

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-primary);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

input {
  outline: none;
  border: 0;
}

figure {
  margin: 0;
  overflow: hidden;
}

fieldset {
  border: 0;
  padding: 0;
}

.mainWrapper {
  width: 100%;
  height: 100vh;
}

.primaryGradient {
  background: rgb(179,189,253);
  background: linear-gradient(90deg, rgba(179,189,253,1) 0%, rgba(238,180,205,1) 50%, rgba(232,135,251,1) 100%);

  &:hover {
    background: linear-gradient(90deg, rgba(179,189,253,1) 0%, rgba(238,180,205,1) 75%, rgba(232,135,251,1) 100%);
  }
}
