body {
  font-family: var(--body-font);
  color: var(--color-text-primary);
  font-size: 12px;
}

h1 {
  font-size: var(--size-h1);
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-weight: var(--font-weight-black);
  letter-spacing: 1px;
}

h2 {
  font-size: var(--size-h2);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  letter-spacing: 0.5px;
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--size-h3);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: var(--font-weight-normal);
}

h4 {
  font-size: var(--size-h4);
  line-height: 1.5em;
  font-weight: var(--font-weight-normal);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  letter-spacing: 0.3px;
  word-spacing: 0.3px;
}

h5 {
  font-size: var(--size-h5);
  line-height: 1.2em;
  font-weight: var(--font-weight-normal);
  margin-top: 0;
  margin-bottom: 0;
}

p,
b,
span {
  font-size: var(--size-h5);
  letter-spacing: 0.5px;
  font-weight: var(--font-weight-light);
}

small {
  font-size: var(--size-small);
}

@media (min-width: 1000px) {
  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  h2 {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
  }

  h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  h4 {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
  }

  h5 {
    margin-top: 0.15em;
    margin-bottom: 0.25em;
  }
}
