.wrapper {
  display: flex;

  & > header {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  & .itemsContainer {
    display: flex;
    margin: 0 -10px;
    width: 100%;
  }

  &.row,
  & .row .itemsContainer {
    flex-flow: row wrap;
  }

  &.column,
  &.column .itemsContainer {
    flex-flow: column nowrap;
  }
}
