.wrapper {
  --slider-height: 260px;
  --title-width: 70px;

  display: flex;
  flex-flow: row nowrap;
  padding-bottom: var(--padding-l);

  & header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--title-width);
    flex-grow: 0;
    flex-shrink: 0;

    & h4 {
      transform: rotate(-90deg) translateX(10px) translateY(-10px);
      transform-origin: 100% 100%;
      color: black;
      display: inline-block;
    }
  }

  & .itemsFrame {
    width: 100%;
  }
  
  & header + .itemsFrame {
    width: calc(100% - var(--title-width));
  }

  &.horizontal {
    & .itemsFrame {
      width: calc(100% - var(--title-width));
      height: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      overflow-y: hidden;
      overflow-x: scroll;
    }

    & .itemsContainer {
      height: 100%;
      width: auto;
      display: flex;
      flex-flow: row nowrap;
    }
  }
}

@media (min-width: 680px) {
  .wrapper {
    &.vertical {
      & .itemsContainer {
        display: flex;
        flex-flow: row wrap;

        &.rowItems-1 {
          & > * {
            width: 100%;
          }
        }

        &.rowItems-2 {
          & > * {
            width: 50%;
          }
        }

        &.rowItems-3 {
          & > * {
            width: 33.3333%;
          }
        }
      }
    }
  }
}
