.wrapper {
  display: flex;

  & > header {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  & .itemsContainer {
    display: flex;
    margin: 0 -10px;
    width: 100%;
  }

  &.row {
    flex-flow: row wrap;

    & .itemsContainer {
      flex-flow: row wrap;
    }
  }

  &.column {
    flex-flow: column nowrap;

    & .itemsContainer {
      flex-flow: column nowrap;
    }
  }
}
