.component.createAlbum {
  background-color: var(--color-primary-light);
  padding: var(--padding-s) var(--padding-s) 0;
  border-radius: var(--border-radius-m);

  & fieldset {
    padding-bottom: var(--padding-m);

    & section {
      margin-bottom: var(--padding-s);
    }
  }
}

@keyframes progress-animation {
  from {
    width: 0%;
    background-color: #99e2fb;
  }
  to {
    width: 100%;
    background-color: #99e2fb;
  }
}

.component.feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;

  & h4 {
    padding: 10px;
    border-radius: 8px;
    font-weight: 300;
  }

  &.success {
    & h4 {
      background-color: var(--color-success-see-through);
      color: var(--color-success);
    }
  }

  & div {
    height: 100%;
    position: inherit;
    &.progressContainer {
      position: relative;
      height: 10px;
      border-radius: var(--border-radius-xs);
      overflow: hidden;
      width: 75vw;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        animation: progress-animation 12s ease-in;
      }
    }

    & h4 {
      background-color: #e3f7fe;
      position: inherit;
      text-align: center;
      font-weight: 400;
      color: var(--color-secondary);
    }

    & progress {
      position: relative;
      display: none;
      width: 100%;
      height: 10px;
      background: #f1f1f1;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      overflow: hidden;
    }
  }
}
