.component.createAudio {
  background-color: var(--color-primary-light);
  padding: var(--padding-s) var(--padding-s) 0;
  border-radius: var(--border-radius-m);

  & fieldset {
    padding-bottom: var(--padding-m);

    & section {
      margin-bottom: var(--padding-s);
    }
  }

  & .collectionRow {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: var(--padding-s);

    & .select {
      flex-grow: 1;
      flex-shrink: 1;
    }

    & .addCollection {
      flex-grow: 0;
      flex-shrink: 1;
      width: var(--box-size-s);
      height: var(--box-size-s);
      background-color: var(--white-see-through);
      color: var(--color-secondary);
      border-radius: var(--border-radius-s);
      border: solid 1px var(--brightOutline);
      box-sizing: border-box;

      & i {
        display: block;
        font-size: var(--size-h3);
        width: var(--box-size-s);
        height: var(--box-size-s);
        line-height: var(--box-size-s);
        text-align: center;
        transform: rotate(45deg);
      }
    }
  }

  & .royaltyOwners {
    & legend {
      color: var(--color-secondary);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0 0 10px 0;

      & span {
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: var(--padding-s);
      }

      & i:before {
        transform: rotate(45deg);
        display: block;
      }
    }
  
    & .removeButton,
    & .addButton {
      align-items: center;
      font-size: 1.1rem;
      color: var(--gray);
      border: color(srgb 0.935 0.8859 0.8696) solid 1px;
      background-color: color(srgb 0.985 0.9586 0.9505);
      padding: 0 11px;

      &:hover {
        cursor: pointer;
        color: var(--color-secondary);
        background-color: var(--white-see-through);
      }
    }

    & .ownerItem {
      display: flex;
      flex-flow: row nowrap;
      padding: 0;

      & .input {
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: var(--padding-s);
      }

      & .removeButton {
        flex-grow: 0;
        flex-shrink: 1;
        display: flex;
        flex-flow: row;
        justify-content: center;
      }
    }
  }
}
